/* Reset browser defaults */
* {
    margin: 20px;
    padding: 5px;
    box-sizing: border-box;
}
/* Body */
body {
    font-family: sans-serif;
}
/* Outer div */
#outer {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}
/* Inner div */
#inner {
    display: flex;
    border: 1px solid black;
    padding:10px;
    flex-direction: row;
    align-items: center;
}
/* Child divs */
#inner div {
    width: 100px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
/* Child-C div */
#child-C {
    background-color: red;
}
